body{
  background-color: blue;
  font-style: ;
  background-image: url(P:\16_12_23_react\curso_react\src\assets\imagenes\356942984_6739430312754066_5462836985071248007_n.jpg) ;
border-color: blanchedalmond
color: azure ;

}